<ul class="nav nav-tabs">
  <li class="active">
    <a href="#">Search</a>
  </li>
  <li>
    <a href="/searches">My Searches</a>
  </li>
  <li>
    <a href="/favorites">My Favorites</a>
  </li>
</ul>

<%= render 'searches/new' %>
