<h1>Search Results</h1>

<table class="table table-striped">

	<tr>
		<th>State</th>
		<th>City</th>
		<th>Property Location</th>
		<th>Net Taxable Value</th>
	</tr>

	<% @search.properties.each do |property| %>
	<tr>
		<td><%= property.state%></td>
		<td><%=property.district%></td>
		<td><%=property.property_location%></td>
		<td>$ <%=property.net_taxable_value.to_i%></td>
	</tr>

	<% end %> 

 	
</table>

